<div class="row" style="padding-left: 50px; padding-right: 50px">
    <h4 class="rheading">Gallery<span></span></h4>

    <div id="latest-work" class="carousel btleft">
        <div class="carousel-wrapper">
            <ul class="da-thumbs" style="width: 1704px; display: block; margin-left: 0px;">
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/maax-screens/leads-listview.png">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromTop" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/maax-screens/formview.png">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>

                        <div class="hidden-tablet">
                            <p>
                                Leads Form View
                            </p>
                        </div>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromLeft" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- gallery ends -->

<!-- form -->
<div class="container">
    <div class="span12">
        <div class="row">
            <div class="span6">
<img src="assets/img/">
            </div>
            <div class="span6">
            <form class="form-horizontal" action="" method="POST" >
                <fieldset>
                    <div id="legend">
                        <legend class="">Login and begin with a beautiful journey</legend>
                    </div>
                    <div class="control-group" align="center">
                        <!-- Username -->
                        <label class="control-label" for="username">Username</label>

                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group"  align="center">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>

                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group" style="padding-left: 300px">
                        <div class="controls">
                           <a href="">Forget password?</a>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- form ends -->

<!-- gallery starts -->
<div class="row" style="padding-left: 50px; padding-right: 50px">
    <h4 class="rheading">Gallery<span></span></h4>

    <div id="latest-work" class="carousel btleft">
        <div class="carousel-wrapper">
            <ul class="da-thumbs" style="width: 1704px; display: block; margin-left: 0px;">
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/maax-screens/leads-listview.png">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromTop" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/maax-screens/formview.png">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>

                        <div class="hidden-tablet">
                            <p>
                                Leads Form View
                            </p>
                        </div>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromLeft" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/">
                    <article class="da-animate da-slideFromRight">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>