<!-- gallery starts -->
<div class="row" style="padding-left: 60px; padding-right: 60px">
    <h4 class="rheading">Gallery<span></span></h4>

    <div class="carousel btleft" style="padding-left: 30px">
        <div class="carousel-wrapper">
            <ul class="da-thumbs" style="width: 1704px; display: block; margin-left: 0px;">
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- gallery ends -->

<!-- form -->
<div class="container">
    <div class="span12">
        <div class="row">
            <div class="span5" style="padding-top: 40px">
                <img src="assets/img/pic2.jpg">
            </div>
            <div class="span1"></div>
            <div class="span6">
                <form class="form-horizontal" action="" method="POST" >
                        <div id="legend">
                            <h5 class="rheading">Login and begin with a beautiful journey<span></span></h5>
                        </div>
                        <div class="control-group" align="center">
                            <!-- Username -->
                            <label class="control-label" for="username">Username</label>

                            <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="control-group"  align="center">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>

                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group" style="padding-left:  174px">
                            <div class="controls">
                                <a href="">Forget password?</a>
                            </div>
                        </div>

                        <div class="control-group" align="center">
                            <!-- Button -->
                            <div class="controls">
                                <button href="#profile" class="btn btn-success">Login</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- form ends -->

<!-- gallery starts -->
<div class="row" style="padding-left: 60px; padding-right: 60px">
    <h4 class="rheading">Gallery<span></span></h4>

    <div class="carousel btleft" style="padding-left: 30px">
        <div class="carousel-wrapper">
            <ul class="da-thumbs" style="width: 1704px; display: block; margin-left: 0px;">
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- gallery ends -->