<div class="container">
    <div class="span12">
        <div class="row">
            <div class="span3">
                <div class="row">
                    <img src="assets/img/bride.jpg">
                </div>
                <div class="row">
                    <h5 class="rheading">Rate the picture<span></span></h5>
                    <label class="radio  inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios1p" value="option1" checked>
                        1
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios2p" value="option2">
                        2
                    </label>   <label class="radio  inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios3p" value="option1" checked>
                    3
                </label>
                    <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios4p" value="option2">
                        4
                    </label>
                    <label class="radio  inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios5p" value="option1" checked>
                        5
                    </label>
                </div>
            </div>
            <div class="span6">
                <form class="form-horizontal" action="" method="POST" >
                        <div id="legend"><h5 class="rheading">Complete your profile to get started<span></span></h5>
                        </div>
                        <div class="control-group" align="center">
                            <!-- status-->
                            <label class="control-label" for="status">Status</label>

                            <div class="controls">
                                <input type="text" id="status" name="status" placeholder="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="control-group"  align="center">
                            <!-- location-->
                            <label class="control-label" for="locatioin">Location</label>

                            <div class="controls">
                                <input type="text" id="locatioin" name="locatioin" placeholder="" class="input-xlarge">
                            </div>
                        </div> <div class="control-group"  align="center">
                        <!-- age-->
                        <label class="control-label" for="age">Age</label>

                        <div class="controls">
                            <input type="tel" id="age" name="age" placeholder="" class="input-xlarge">
                        </div>
                    </div>

                        <div class="control-group" align="center">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success">Submit</button>
                            </div>
                        </div>
                </form>

            </div>
            <div class="span3">
                <div class="row" style="padding-left: 80px">
                    <h5 class="rheading">Rate the profile <span></span></h5>
                    <label class="radio">
                        10
                        <input type="radio" name="optionsRadios" id="optionsRadios10" value="option1" checked>
                    </label>

                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios9" value="option2">
                        9
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios8" value="option2">
                        8
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios7" value="option2">
                        7
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios6" value="option2">
                        6
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2">
                        5
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option2">
                        4
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
                        3
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        2
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
                        1
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>