<!-- gallery starts -->
<div class="row" style="padding-left: 60px; padding-right: 60px">
    <h4 class="rheading">Gallery<span></span></h4>

    <div class="carousel btleft" style="padding-left: 30px">
        <div class="carousel-wrapper">
            <ul class="da-thumbs" style="width: 1704px; display: block; margin-left: 0px;">
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- gallery ends -->

<!-- form -->
<div class="container">
    <div class="span12">
        <div class="row">
            <div class="span6">
                <form class="form-horizontal" action="" method="POST" >
                        <div id="legend">
                            <h5 class="rheading">Go ahead and find a match for you<span></span></h5>
                        </div>
                        <div class="control-group" align="center">
                            <!-- Username -->
                            <label class="control-label" for="username">Name</label>

                            <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group" align="center">
                            <!-- Username -->
                            <label class="control-label" for="email">Email</label>

                            <div class="controls">
                                <input type="email" id="email" name="username" placeholder="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="control-group"  align="center">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>

                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group"  align="center">
                            <!-- Password-->
                            <label class="control-label" for="mobile">Mobile</label>

                            <div class="controls">
                                <input type="tel" id="mobile" name="tel" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group"  align="center">
                            <!-- Password-->
                            <label class="control-label">Profile created for</label>

                            <div class="controls">
                                <select>
                                    <option>Profile created for</option>
                                    <option>Self</option>
                                    <option>Son</option>
                                    <option>Daughter</option>
                                    <option>Brother</option>
                                    <option>Sister</option>
                                    <option>Friend</option>
                                    <option>Relative</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group"  align="center">
                            <!-- Password-->
                            <label class="control-label">Gender</label>

                            <div class="controls">
                                <label class="radio  inline">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Male
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Female
                                </label>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success">Register</button>
                            </div>
                        </div>
                </form>
            </div>
            <div class="span1"></div>
            <div class="span5" style="padding-top: 40px">
                <img src="assets/img/pic2.jpg">
            </div>
        </div>
    </div>
</div>
<!-- form ends -->

<!-- gallery starts -->
<div class="row" style="padding-left: 60px; padding-right: 60px">
    <h4 class="rheading">Gallery<span></span></h4>

    <div class="carousel btleft" style="padding-left: 30px">
        <div class="carousel-wrapper">
            <ul class="da-thumbs" style="width: 1704px; display: block; margin-left: 0px;">
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
                <li style="margin-right: 20px; width: 220px;">
                    <img src="assets/img/pic.jpg">
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="zoom" data-pretty="prettyPhoto"
                           href="assets/img/pic.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- gallery ends -->